<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">

  <title>Mercado Liebre</title>

</head>

<body>
  <header class="header">

    <img src="/images/logo-mercado-liebre.svg" alt="" class="img-logo" />
    <div class="barra-busqueda">
      <input type="search" placeholder="Buscar productos, marcas" class="buscador-input">
      <a href="" class="buscador"><i class="fa-solid fa-magnifying-glass"></i></a>
    </div>

    <div class="compra">
      <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>

    <nav>
      <ul class="nav-menu">
        <div class="navbar site ">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </div>
        <div class="navbar login">
          <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
          <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
          <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a> </li>
        </div>
      </ul>
    </nav>
    <div class="burger-menu">
      <i class="fa-solid fa-bars"></i>
    </div>
  </header>
  <main class="main">
    <img src="/images/img-home-banner.jpg" alt="" class="img-home-banner">
    <section>
      <h2 class="titulos">Basado en tu última visita</h2>
      <div class="contenedor-productos">

        <div class="articulos">
          <img src="images/img-cafetera-moulinex.jpg" class="img-articulos" alt="Imagen de cafetera">
          <div class="descripcion-art">
            <div class="logo-envio">
              <i class="fa-solid fa-truck"></i>
            </div>
            <div class="precio-desc">
              <p class="precios">$6.770</p>
              <p class="descuentos">40% off</p>
            </div>
            <h4 class="descripcion">Cafetera Moulinex</h4>
          </div>
        </div>

        <div class="articulos">
          <img src="images/img-macbook-pro-2019.jpg" class="img-articulos" alt="Imagen de MacBook">
          <div class="descripcion-art">
            <div class="logo-envio">
              <i class="fa-solid fa-truck"></i>
            </div>
            <div class="precio-desc">
              <p class="precios precio-a">$230.000</p>
              <p class="descuentos">20% off</p>
            </div>
            <h4 class="descripcion">MacBook Pro 2019</h4>
          </div>
        </div>
        <div class="articulos">
          <img src="images/img-samsung-galaxy-s10.jpg" class="img-articulos" alt="Imagen de samsung s10">
          <div class="descripcion-art">
            <div class="logo-envio">
              <i class="fa-solid fa-truck"></i>
            </div>
            <div class="precio-desc">
              <p class="precios">$70.500</p>
              <p class="descuentos">10% off</p>
            </div>
            <h4 class="descripcion">Samsung Galaxy S10</h4>
          </div>
        </div>


        <div class="articulos">
          <img src="images/img-tv-samsung-smart.jpg" class="img-articulos" alt="Imagen de tv samsung smart">
          <div class="descripcion-art">
            <div class="logo-envio"><i class="fa-solid fa-truck"></i></div>
            <div class="precio-desc">
              <p class="precios">$23.200</p>
              <p class="descuentos">5% off</p>
            </div>
            <h4 class="descripcion">SmartTv Samsung 43"</h4>
          </div>
        </div>

      </div>
    </section>
    <section>
      <h2 class="titulos">Ofertas</h2>
      <div class="contenedor-productos">

        <div class="articulos">
          <img src="images/img-cafetera-moulinex.jpg" alt="Imagen de cafetera" class="img-articulos">
          <div class="descripcion-art">
            <div class="logo-envio"><i class="fa-solid fa-truck"></i></div>
            <div class="precio-desc">
              <p class="precios">$6.770</p>
              <p class="descuentos">40% off</p>
            </div>
            <h4 class="descripcion">Cafetera Moulinex</h4>
          </div>
        </div>

        <div class="articulos">
          <img src="images/img-macbook-pro-2019.jpg" class="img-articulos" alt="Imagen de MacBook">
          <div class="descripcion-art">
            <div class="logo-envio"><i class="fa-solid fa-truck"></i></div>
            <div class="precio-desc">
              <p class="precios precio-a">$230.000</p>
              <p class="descuentos">20% off</p>
            </div>
            <h4 class="descripcion">MacBook Pro 2019</h4>
          </div>
        </div>

        <div class="articulos">
          <img src="images/img-samsung-galaxy-s10.jpg" class="img-articulos" alt="Imagen de samsung s10">
          <div class="descripcion-art">
            <div class="logo-envio">
              <i class="fa-solid fa-truck"></i>
            </div>
            <div class="precio-desc">
              <p class="precios">$70.500</p>
              <p class="descuentos">10% off</p>
            </div>
            <h4 class="descripcion">Samsung Galaxy S10</h4>
          </div>
        </div>

        <div class="articulos">
          <img src="images/img-tv-samsung-smart.jpg" class="img-articulos" alt="Imagen de tv samsung smart">
          <div class="descripcion-art">
            <div class="logo-envio"><i class="fa-solid fa-truck"></i></div>
            <div class="precio-desc">
              <p class="precios">$23.200</p>
              <p class="descuentos">5% off</p>
            </div>
            <h4 class="descripcion">SmartTv Samsung 43"</h4>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <article>
      <i class="fa-solid fa-credit-card"></i>
      <h4 class="footer__descripcion">Pagá con tarjeta o en efectivo</h4>
      <p class="footer__p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
        ¡Y siempre es
        seguro!</p>
    </article>
    <article>
      <i class="fa-solid fa-gift"></i>
      <h4 class="footer__descripcion">Envío gratis desde $ 2.500</h4>
      <p class="footer__p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </article>
    <article>
      <i class="fa-solid fa-user-shield"></i>
      <h4 class="footer__descripcion">Seguridad, de principio a fin</h4>
      <p class="footer__p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
        siempre protegid@.
      </p>
    </article>
    <section class="copy">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
  </footer>


</body>

</html>