:root {
    --color-amarillo: #eac926;
    --color-azul: #03264c;
    --color-celeste: #1259c3;
    --color-grisOscuro: #666;
    --color-grisClaro: #ebebeb;
    --color-Verde: #39b54a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-grisClaro);
    font-size: 12px;

}

.header__register {
    background-color: var(--color-amarillo);
    padding: 20px;
}

.header__register-img {
    width: 90%;
    margin: 0 auto;
}


main{
    margin: 20px 0;
}
main h1{
    text-align: center;
}

.header__register-img img {
    width: 50%;
    width: 150px;
}

.formulario-register {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;

}

.form-register {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 14px;
}

.form-register input {
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.contenedor-perfil {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

.perfil {
    display: flex;
    gap: 10px;
}

.interes{
    margin-left: 10px;
    margin-bottom: 5px;
gap: 10px;
}

.interes label{
    padding-left: 10px;
}

.interes br{
    margin-bottom: 20px;
}

#foto{
    background-color: white;
    padding: 10px;
}

.btn-form{
    display: flex;
    justify-content: space-evenly;
}

.btn-form button{
    border: none;
    background-color: var(--color-celeste);
    color: white;
    width: 110px;
    padding: 10px ;
    font-weight: 600;
    font-family: "Roboto";
    border-radius: 5px;
  }


  @media (min-width:460px) {
    .formulario-register {
        width: 70%;
        max-width: 450px;
    }
  }






