:root {
    --color-amarillo: #eac926;
    --color-azul: #03264c;
    --color-celeste: #1259c3;
    --color-grisOscuro: #666;
    --color-grisClaro: #ebebeb;
    --color-Verde: #39b54a;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-grisClaro);
    font-size: 12px;
  
  }
  
  .header {
    background-color: var(--color-amarillo);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
  }
  
  .img-logo {
    width: 50%;
    padding: 10px;
  }
  
  .barra-busqueda>.buscador {
    display: block;
    font-size: 14px;
    padding: 8px;
    width: 30px;
    background-color: white;
    color: var(--color-grisOscuro);
    height: 25px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 5px;
  }
  
  .barra-busqueda {
    position: relative;
    width: 50%;
  }
  
  .buscador-input {
    width: 100%;
    border: none;
    padding: 8px;
    border-radius: 5px;
  
  }
  
  .compra {
    padding: 20px 0;
    width: 100%;
    text-align: center;
  }
  
  nav {
    display: none;
  }
  
  .nav-menu {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  
  }
  
  .nav-menu li a {
    text-decoration: none;
    color: black;
  }
  
  
  
  .burger-menu i {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-celeste);
    color: white;
    font-size: 18px;
    margin: 5px;
  }
  
  
  .img-home-banner {
    width: 100%;
  }
  
  main section {
    width: 90vw;
    margin: 0 auto;
  }
  
  .titulos {
    font-size: 24px;
    color: var(--color-grisOscuro);
    margin: 20px 0;
  }
  
  .precios {
    font-size: 18px;
    width: 30%;
  }
  
  .descuentos {
    font-size: 16px;
    margin-left: 5%;
    color: var(--color-Verde);
    width: 70%;
  }
  
  .descripcion {
    font-size: 16px;
    color: var(--color-grisOscuro);
    display: none;
  }
  
  .descripcion:hover {
    display: block;
  }
  
  .articulos {
    padding: 10px;
    background-color: white;
    margin: 10px 0;
  
  }
  
  
  .img-articulos {
    width: 100%;
  }
  
  .descripcion-art {
    padding: 15px;
    border-top: 1px solid #ebebeb;
  }
  
  .precio-desc {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
  }
  
  .logo-envio i {
    color: var(--color-Verde);
  }
  
  .descripcion-art>.logo-envio {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
  }
  
  .descripcion-art {
    position: relative;
  }
  
  footer {
    margin: 0 auto;
    margin-top: 10px;
    background-color: white;
    padding: 40px 20px 10px;
    color: var(--color-grisOscuro);
  }
  
  footer article {
    text-align: center;
    margin: 40px;
  
  }
  
  footer article i {
    color: var(--color-celeste);
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .footer__descripcion {
    font-size: 16px;
  }
  
  /*FORMULARIO LOGIN*/
  
  .formulario-login {
    width: 80%;
    margin: 30px auto;
  }
  
  .form-login {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  
  }
  
  .form-login input{
    padding: 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
  }
  
  
  .button-login{
    border: none;
    background-color: var(--color-celeste);
    color: white;
    padding: 10px;
    font-weight: 600;
    font-family: "Roboto";
    border-radius: 5px;
    width: 100%;
  }
  
  .button-login:hover{
    background-color: #0022AA;
  }
  
  @media (min-width: 600px) {
    .burger-menu {
      display: none;
    }
  
    .header {
      justify-content: space-around;
    }
  
    .img-logo {
      width: 25%;
      padding: 0;
  
    }
  /*
    .barra-busqueda>.buscador {
      font-size: 10px;
      padding: 1px;
      width: 15px;
      background-color: var(--color-grisClaro);
      color: black;
      height: 16px;
      position: inherit;
      border: 0.5px solid var(--color-grisOscuro);
      border-radius: 3px;
    }
  */
    .barra-busqueda {
      width: 30%;
     
    }
  
    .buscador-input{
      width:100%;
      
    }
  
    .compra {
      padding: 20px 0;
      width: auto;
      text-align: start;
      font-size: 12px;
    }
  
    nav {
      display: inline-block;
      width: 95%;
      margin-top: 30px;
    }
  
    .nav-menu {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
  
    .navbar {
      display: flex;
      font-size: 12px;
      gap: 12px;
    }
  
    .descripcion {
      display: block;
      font-size: min(14px, 16px);
      margin-top: 10px;
    }
  
    .articulos {
      width: 48%;
      margin: 10px auto;
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  
    .precio-a{
      width: 40%;
    }
  
    .descripcion-art {
      padding: 15px;
      border-top: 1px solid #ebebeb;
  
    }
  
    .titulos {
      font-size: min(18px, 24px);
    }
  
    .contenedor-productos {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
  
    footer {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    footer article {
      width: 70%;
      margin: 0;
    }
  
    footer article i {
      margin: 10px;
    }
  
    footer article h4,
    p {
  
      padding: 5px;
    }
  
    .copy
    {
    width: 100%;
    margin-top: 20px;
    }
  
  /*FORMULARIO LOGIN*/
  
  .formulario-login {
    width: 60%;
  }
  
  
  .form-login input{
    font-size: 14px;
  }
  
  }
  
  
  @media (min-width: 769px) {
  
    .navbar {
   
      font-size: 14px;
      gap: 18px;
   
    }
    /*
    .barra-busqueda>.buscador {
      font-size: min(1.8vw, 14px);
      padding: 5px;
      width: 25px;
      height: 25px;
    }
  
    .barra-busqueda {
      width: 20%;
      height: 25px;
  
    }
  
  
  
    .buscador-input {
      padding: 3px;
  
      font-size: min(1.8vw, 14px);
    }
    */
  
    .compra {
      font-size: min(1.8vw, 14px);
    }
  
    .contenedor-productos {
      align-items: baseline;
    }
  
    .articulos {
      width: 23%;
      box-shadow: none;
  
    }
  
    .precios{
      width: 40%;
    }
    .descuentos{
      width: 60%;
    }
  
    .precio-a{
      width: 50%;
    }
  
    .descripcion {
      display: none;
      transition-property: display;
      transition-duration: 10s;
    }
  
    .articulos:hover .descripcion {
      display: block;
  
    }
  
    .articulos {
      transition-property: box-shadow;
      transition-duration: 0.5s;
    }
  
    .articulos:hover {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  
  
  
    .logo-envio i {
      transition-property: transform;
      transition-duration: 1.5s;
    }
  
    .logo-envio:hover i {
      transform: rotate(-90deg);
    }
  
  
    footer {
     
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
  
    }
  
    footer article {
      width: 30%;
    }
    footer article i:hover {
      color: var(--color-azul);
    }
  
  
    .copy
    {
    width: 100%;
    margin-top: 20px;
    }
  
  
    /*FORMULARIO LOGIN*/
  
  .formulario-login {
    width: 50%;
  }
  
  
  .form-login input{
    font-size: 14px;
  }
  
  }
  
  